#header {
    background-color: #ef6016;
    margin: 0;
    border: 0;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    text-align: right;
}

#header h1 {
    text-align: left
}

.cart {
  background-color: #fff;
  border-radius: 6px;
  color: #333;
  display: inline-block;
  padding: 10px 30px;
}

a.btn {
  color: #2d58a9;
  display: block;
  font-size: 15px;
  text-align: right;
  text-decoration: none;
}
.btn {
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
}

.cart-info {
  font-size: 14px;
  padding: 2px;
}

body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #585858;
}

.product {
    padding: 20px;
}

.product li {
  margin-left: 5px;
  display: inline-block;
}

.hidden {
	display:none;
}







